---
import Calendar from '@icons/Calendar.astro'
import { type Dates, formatRange } from '@utils/dates'
import type { Locale } from '@utils/i18n'

export type Props = Dates & { locale?: Locale }

const { locale = 'fr', ...dates } = Astro.props
const range = formatRange(dates, locale)
---

<div class='flex items-center space-x-2 text-slate-700'>
  <Calendar />
  <span class='text-sm oblique'>{range}</span>
</div>
