---
import Calendar from '@icons/Calendar.astro'
import { type Dates, formatRange } from '@utils/dates'

export type Props = Dates

const range = formatRange(Astro.props)
---

<div class='flex items-center space-x-2 text-slate-700'>
  <Calendar />
  <span class='text-sm oblique'>{range}</span>
</div>
