---
export interface Props {
  href: string
  newTab?: boolean
  size?: 'default' | 'large'
}

const { href, size = 'default', newTab = false } = Astro.props
---

<a
  href={href}
  target={newTab ? '_blank' : undefined}
  class:list={[
    'underline transition-all ease-in-out',
    {
      'duration-100 decoration-2 underline-offset-4 hover:decoration-4': size === 'default',
      'duration-150 decoration-4 underline-offset-8 hover:decoration-8': size === 'large'
    }
  ]}
>
  <slot />
</a>
