---
export interface Props {
  data: string
  isActive?: boolean
  selected?: boolean
}

const { data, isActive = true, selected = false } = Astro.props
const isLong = data.length > 10
---

<p
  class:list={[
    'bg-slate-200 px-1 py-0.5 scale-100 rounded transition-all duration-100 ease-in-out',
    isActive && (isLong ? 'hover:scale-105' : 'hover:scale-110'),
    { 'opacity-70': !isActive, 'font-semibold': selected }
  ]}
>
  {data}
</p>
