---
import { SOCIALS } from '@config'
---

<ul class='flex flex-wrap justify-center gap-1'>
  {
    SOCIALS.map(({ href, linkTitle, Icon }) => (
      <li class='p-1 rounded-full text-slate-900 hover:text-sky-700 hover:bg-slate-200'>
        <a href={href} title={linkTitle}>
          <Icon />
        </a>
      </li>
    ))
  }
</ul>
