---
import Link from '@components/Link.astro'
import type { CollectionEntry } from 'astro:content'
import Skills from './Skills.astro'
import ContentStyle from '@components/ContentStyle.astro'

export interface Props {
  data: CollectionEntry<'sideProjects'>
  selectedSkill?: string
}

const { data, selectedSkill } = Astro.props

const { name, link, skills } = data.data

const { Content } = await data.render()
---

<section class='grid grid-cols-1 gap-2'>
  <h3 class='font-headline text-xl font-semibold text-green-600 print:text-lg'>
    <Link href={link} newTab>{name}</Link>
  </h3>
  <ContentStyle>
    <Content />
  </ContentStyle>

  <Skills {...skills} selected={selectedSkill} />
</section>
