---
import Link from '@components/Link.astro'
import { type CollectionEntry, render } from 'astro:content'
import Skills from './Skills.astro'
import ContentStyle from '@components/ContentStyle.astro'
import type { Locale } from '@utils/i18n'

export interface Props {
  data: CollectionEntry<'sideProjects'>
  selectedSkill?: string
  locale: Locale
}

const { data, selectedSkill, locale } = Astro.props

const { name, link, skills } = data.data

const { Content } = await render(data)
---

<section class='grid grid-cols-1 gap-2'>
  <h3 class='font-headline text-xl font-semibold text-green-600 print:text-lg'>
    <Link href={link} newTab>{name}</Link>
  </h3>
  <ContentStyle>
    <Content />
  </ContentStyle>

  <Skills {...skills} selected={selectedSkill} locale={locale} />
</section>
